@charset "utf-8";
/* CSS Document */

body { margin: 0px !important; }

.table_03 { width: 100%; border-top: 2px solid #004b9a; font-size: 13px; letter-spacing: -1px; margin-top: 5px; }
.table_03> thead { }
.table_03> thead> tr {  }
.table_03> thead> tr> th { padding: 8px 0px; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; }
.table_03> tbody { }
.table_03> tbody> tr { }
.table_03> tbody> tr> th { padding: 8px 0px; background: #f9f9f9; color: #141414; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; }
.table_03> tbody> tr> td { border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; text-align: center; }
.table_03> tbody> tr> td> span { font-family: '돋움' !important; font-size: 11px; }
.table_03> tbody> tr> td> span.use { padding: 4px 6px; color: #fff; background: #004a93; }
.table_03> tbody> tr> td> span.phone, .table_03> tbody> tr> td> span.message { width: 21px; height: 19px; padding-left: 23px; padding-top: 4px; margin-right: 7px; display: inline-block; }
.table_03> tbody> tr> td> span.phone { background: url(./resources/images/icon_phone.png) no-repeat; }
.table_03> tbody> tr> td> span.message { background: url(./resources/images/icon_message.png) no-repeat; }